In [1]:
import pandas as pd
import numpy as np
import time
import datetime
import os
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_table('./data/round1_ijcai_18_train_20180301.txt', sep=' ')
data.head()

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,context_page_id,predict_category_property,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4006,5799347067982556520:-1;509660095530134768:-1;5...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:5131280576272319091;725801...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4016,509660095530134768:-1;5799347067982556520:-1;7...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,4001,5799347067982556520:9172976955054793469;790838...,6765930309048922341,4,1.0,5002,1.0,1.0,1.0,0

# merge function

In [3]:
def merge_new_features(data):
    path = os.path.join(os.getcwd(), 'feature_data')
    dir_list = os.listdir(path)
    for d in dir_list:
        new_path = os.path.join(path, d)
        for file in os.listdir(new_path):
            grouped_data = pd.read_csv((os.path.join(os.curdir, 'feature_data', d, file)), sep=' ', encoding='utf-8')
            columns = grouped_data.columns
            data = pd.merge(data, grouped_data[[columns[0], columns[2]]], on=columns[0], how='left')
    return data

In [4]:
data = merge_new_features(data)

In [5]:
data.head()

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,shop_star_level_0,shop_star_level_1,user_age_level_0,user_age_level_1,user_gender_id_0,user_gender_id_1,user_occupation_id_0,user_occupation_id_1,user_star_level_0,user_star_level_1
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,3.063816,-1.252763,9.825190,5.810808,10.044075,6.211604,10.983725,7.002702,8.715074,4.793722
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,3.063816,-1.252763,8.945521,4.818488,11.391184,7.418481,10.983725,7.002702,8.810286,4.877104
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,3.063816,-1.252763,9.825190,5.810808,11.391184,7.418481,10.983725,7.002702,8.526351,4.619237
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,3.063816,-1.252763,9.527670,5.634790,10.044075,6.211604,10.983725,7.002702,8.810286,4.877104
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,3.063816,-1.252763,8.945521,4.818488,11.391184,7.418481,10.983725,7.002702,7.366024,3.370165

In [6]:
for c in data.columns:
    data[c].fillna(data[c].min(),inplace=True)

In [7]:
data.head()

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,shop_star_level_0,shop_star_level_1,user_age_level_0,user_age_level_1,user_gender_id_0,user_gender_id_1,user_occupation_id_0,user_occupation_id_1,user_star_level_0,user_star_level_1
0,108641074714126964,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,3.063816,-1.252763,9.825190,5.810808,10.044075,6.211604,10.983725,7.002702,8.715074,4.793722
1,5754713551599725161,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,3.063816,-1.252763,8.945521,4.818488,11.391184,7.418481,10.983725,7.002702,8.810286,4.877104
2,842679481291040981,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,3.063816,-1.252763,9.825190,5.810808,11.391184,7.418481,10.983725,7.002702,8.526351,4.619237
3,937088850059189027,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,3.063816,-1.252763,9.527670,5.634790,10.044075,6.211604,10.983725,7.002702,8.810286,4.877104
4,7975697065017708072,3412720377098676069,7908382889764677758;5799347067982556520,2072967855524022579;5131280576272319091;263639...,1975590437749032870,3948283326616421003,3,3,4,14,...,3.063816,-1.252763,8.945521,4.818488,11.391184,7.418481,10.983725,7.002702,7.366024,3.370165

# 5. new features

In [8]:
def timestamp_datetime(value):
    format = '%Y-%m-%d %H:%M:%S'
    dt = time.localtime(value)
    dt = time.strftime(format, dt)
    dt = datetime.datetime.strptime(dt, format)
    return dt

In [9]:
def convert_timestamp(data):
    data['time'] = data.context_timestamp.apply(timestamp_datetime)
    data['day'] = data.time.apply(lambda x: int(x.day))
    data['hour'] = data.time.apply(lambda x: int(x.hour))
    user_query_day = data.groupby(['user_id', 'day']).size().reset_index().rename(columns={0: 'user_query_day'})
    data = pd.merge(data, user_query_day, 'left', on=['user_id', 'day'])
    user_query_day_hour = data.groupby(['user_id', 'day', 'hour']).size().reset_index()\
                            .rename(columns={0: 'user_query_day_hour'})
    data = pd.merge(data, user_query_day_hour, 'left', on=['user_id', 'day', 'hour'])
    return data

In [10]:
data = convert_timestamp(data)

In [11]:
print('predict_category_property_ing_0')
for i in range(3):
    data['predict_category_%d'%(i)] = data['predict_category_property'].apply(
        lambda x:str(x.split(";")[i]).split(":")[0] if len(x.split(";")) > i else " "
    )

predict_category_property_ing_0

In [12]:
print(data.columns)

Index(['instance_id', 'item_id', 'item_category_list', 'item_property_list',
       'item_brand_id', 'item_city_id', 'item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level', 'user_id', 'user_gender_id',
       'user_age_level', 'user_occupation_id', 'user_star_level', 'context_id',
       'context_timestamp', 'context_page_id', 'predict_category_property',
       'shop_id', 'shop_review_num_level', 'shop_review_positive_rate',
       'shop_star_level', 'shop_score_service', 'shop_score_delivery',
       'shop_score_description', 'is_trade', 'item_brand_id_0',
       'item_brand_id_1', 'item_category_list_0', 'item_category_list_1',
       'item_city_id_0', 'item_city_id_1', 'item_id_0', 'item_id_1',
       'item_property_list_0', 'item_property_list_1', 'context_page_id_0',
       'context_page_id_1', 'predict_category_property_0',
       'predict_category_property_1', 'shop_id_0', 'shop_id_1',
       'shop_star_level_0', 'shop_star_level_1', 'user_age_level_0',
       'user_age_level_1', 'user_gender_id_0', 'user_gender_id_1',
       'user_occupation_id_0', 'user_occupation_id_1', 'user_star_level_0',
       'user_star_level_1', 'time', 'day', 'hour', 'user_query_day',
       'user_query_day_hour', 'predict_category_0', 'predict_category_1',
       'predict_category_2'],
      dtype='object')

In [13]:
continuous_features = ['item_id_1', 'item_id_0', 'item_category_list_1', 'item_category_list_0', 'item_property_list_0', 
                       'item_property_list_1', 'item_brand_id_0', 'item_brand_id_1', 'item_city_id_0','item_city_id_1', 
                       'item_price_level', 'item_sales_level', 'item_sales_level', 'item_collected_level',
                       'item_pv_level', 'user_gender_id_0', 'user_gender_id_1', 'user_age_level_0', 'user_age_level_1',
                      'user_occupation_id_0', 'user_occupation_id_1', 'user_star_level_0', 'user_star_level_1',
                      'context_page_id_0', 'context_page_id_1',
                        'shop_id_0', 'shop_id_1', 'shop_review_num_level', 'shop_review_positive_rate', 'shop_star_level_0',
                      'shop_star_level_1', 'shop_score_service', 'shop_score_delivery', 'shop_score_description', 
                        'user_query_day', 'user_query_day_hour'
                      ]
# continuous_features = ['item_id_1', 'item_category_list_1', 
#                        'item_property_list_1', 'item_brand_id_1', 'item_city_id_1', 
#                     'user_gender_id_1', 'user_age_level_1',
#                        'user_occupation_id_1',  'user_star_level_1',
#                       'context_page_id_1',  'predict_category_property_1',
#                        'shop_id_1', 'shop_review_num_level', 'shop_review_positive_rate', 
#                       'shop_star_level_1', 'shop_score_service', 'shop_score_delivery', 'shop_score_description', 
#                        'hour', 'user_query_day', 'user_query_day_hour']

In [14]:
# categorical_features = ['item_id', 'user_gender_id', 'user_age_level', 'user_occupation_id', 'user_star_level',
#                         'context_page_id', 'shop_id', 'shop_star_level']
categorical_features = ['user_gender_id', 'user_age_level', 'user_occupation_id', 'user_star_level', 'shop_star_level',
                        'hour']

In [15]:
features = continuous_features + categorical_features

In [16]:
target = 'is_trade'

In [17]:
len(features)

42

# 6. Model

In [18]:
import time
import datetime
import pandas as pd
import lightgbm as lgb
from sklearn.metrics import log_loss
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression

D:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [19]:
data.drop_duplicates(inplace=True)

In [20]:
len(data)

478111

In [21]:
# data = data.sample(frac=1, random_state = 1)
# train = data[:int(len(data) * 0.7)]  
# test = data[int(len(data) * 0.7): ] 

# data = data.sample(frac=1, random_state = 1)
# positive_data = data[data.is_trade == 0]
# negative_data = data[data.is_trade == 1]
# print(len(positive_data))
# print(len(negative_data))
# print(len(negative_data)/len(positive_data))
# new_positive_data = positive_data.sample(frac=2 * (len(negative_data) / len(positive_data)), random_state=10)
# new_data = pd.concat([new_positive_data, negative_data, negative_data], axis=0)
# new_data = new_data.sample(frac=1)
# print(len(new_data))

train = data.loc[data.day < 24]
train = train.sample(frac=1, random_state=10)
test = data.loc[data.day == 24]
test = test.sample(frac=1, random_state=10)

In [22]:
online = True
model = 'lr'

In [23]:
if online == False:
    if model == 'lightgbm':
        clf = lgb.LGBMClassifier(num_leaves=65, max_depth=5, n_estimators=100, learning_rate=0.1)
        clf.fit(train[features], train[target], sample_weight=[1 if y == 1 else 0.8 for y in train[target]], # 改变样本权重
                feature_name=features, categorical_feature=categorical_features)
        
    elif model == 'lr':
        clf = LogisticRegression()
        clf.fit(train[features], train[target])
    test['predicted_score'] = clf.predict_proba(test[features],)[:, 1]
    print(log_loss(test[target], test['predicted_score']))
else:
    train = data.copy()
    train[features].to_csv('./train_test_data/train.csv', index=False, encoding='utf-8')
    print('length of train data: ', len(train))
    test = pd.read_csv('./data/round1_ijcai_18_test_a_20180301.txt', sep=' ', encoding='utf-8')
    test = merge_new_features(test)
    for c in test.columns:
        test[c].fillna(test[c].min(),inplace=True)
    test = convert_timestamp(test)
    test[features].to_csv('./train_test_data/test.csv', index=False, encoding='utf-8')
    
    if model == 'lightgbm':
        clf = lgb.LGBMClassifier(num_leaves=65, max_depth=5, n_estimators=100, learning_rate=0.1)
        clf.fit(train[features], train[target],feature_name=features, categorical_feature=categorical_features)
    elif model == 'lr':
        clf = LogisticRegression()
        clf.fit(train[features], train[target])
    test['predicted_score'] = clf.predict_proba(test[features])[:, 1]
    test[['instance_id', 'predicted_score']].to_csv('result4_9.csv', index=False,sep=' ')

length of train data:  478111

In [24]:
test['predicted_score'].sort_values(ascending=False)

17106    0.254692
11001    0.231628
12954    0.230156
5888     0.213432
11000    0.213022
2471     0.190622
2469     0.182670
15254    0.181636
2474     0.181141
4940     0.181049
6386     0.179809
605      0.175022
16639    0.170416
5441     0.170168
12179    0.170121
14636    0.168796
13068    0.168770
2476     0.168136
12158    0.166148
11725    0.164533
3701     0.158693
15165    0.156146
12168    0.155367
16230    0.154781
18369    0.154737
16864    0.154261
7863     0.153298
604      0.151504
4939     0.151275
12189    0.150053
           ...
8157     0.001810
4667     0.001807
8147     0.001786
4674     0.001773
2731     0.001753
4671     0.001751
8129     0.001728
8174     0.001724
8140     0.001714
15292    0.001706
8158     0.001703
9852     0.001698
8141     0.001649
4639     0.001597
8165     0.001589
13917    0.001588
6909     0.001567
8159     0.001556
8185     0.001516
4661     0.001492
8168     0.001485
289      0.001482
8173     0.001458
8148     0.001440
13909    0.001413
4670     0.001392
4653     0.001386
4640     0.001252
13923    0.001218
4644     0.001047
Name: predicted_score, Length: 18371, dtype: float64